*
!.gitignore

# ------------------------------------- ~
!.vimrc
!.bashrc

# ------------------------------------- ~/.config
!.config/

!.config/ranger/
!.config/ranger/*

!.config/kitty/
!.config/kitty/*
