*
!.gitignore

# ------------------------------------- ~
!.bashrc

# ------------------------------------- ~/.local
!.local/
!.local/**/fonts/*

# ------------------------------------- ~/.config
!.config/

!.config/nvim/
!.config/nvim/**/*
.config/nvim/plugin/

!.config/ranger/
!.config/ranger/*

!.config/kitty/
!.config/kitty/**/*
